/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  color: #444;
}

h1,
h2,
h3,
h4,
p {
  margin: 10px 0;
}

p {
  font-size: 10px;
}

.uploader {
  width: 360px;
  margin: 10% auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  background: #fff;
  text-align: center;
}

.image-preview {
  border: 1px dashed #97bef4;
  padding: 25px 15px;
  background: #f6f8fb;
}

input[type="file"] {
  display: none;
}

.small {
  margin: 20px 0;
  font-size: 13px;
}

.file {
  font-weight: 300;
  font-size: 15px;
  margin: 5px 0;
}

label, button {
  background: #2f80ed;
  color: #fff;
  padding: 3px 10px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 300;
}

button {
  display: inline-block;
  border: none;
  padding: 7px 10px;
  margin-left: 10px;
  border-radius: 0px;
  background: #444;
}
/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  color: #444;
}

h1,
h2,
h3,
h4,
p {
  margin: 10px 0;
}

p {
  font-size: 10px;
}

.uploader {
  width: 360px;
  margin: 10% auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  background: #fff;
  text-align: center;
}

.image-preview {
  border: 1px dashed #97bef4;
  padding: 25px 15px;
  background: #f6f8fb;
}

input[type="file"] {
  display: none;
}

.small {
  margin: 20px 0;
  font-size: 13px;
}

.file {
  font-weight: 300;
  font-size: 15px;
  margin: 5px 0;
}

label, button {
  background: #2f80ed;
  color: #fff;
  padding: 3px 10px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 300;
}

button {
  display: inline-block;
  border: none;
  padding: 7px 10px;
  margin-left: 10px;
  border-radius: 0px;
  background: #444;
}
