/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  color: #444;
}

.container {
  margin: 16px auto;
  max-width: 1200px;
  padding: 0 16px;
}

h1,
h2,
h3,
h4,
p {
  margin: 10px 0;
}

h3 {
  text-align: center;
}

h5 {
  margin-bottom: 5px;
}
p {
  font-size: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span{
  font-size: 20px;
  font-weight: bold;
}

.logo svg {
  animation: rotate infinite ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.uploader {
  width: 360px;
  margin: 5% auto;
  padding: 15px 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  background: #fff;
}

.image-preview {
  border: 1px dashed #97bef4;
  padding: 25px 15px;
  background: #f6f8fb;
  text-align: center;
  margin-bottom: 8px;
}

span {
  font-weight: 300;
}